/* 轮播图 */

.swiper-container {
    height: 4rem;
}

.swiper-container .swiper-slide>img {
    width: 100%;
}


/* 电台 */

.music {
    height: 1rem;
    width: 90%;
    font-size: 0.45rem;
    line-height: 1rem;
    margin-left: 5%;
}

.list {
    width: 90%;
    margin-left: 5%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
}

.list .list_li {
    width: 49%;
    background: #fff;
    display: inline-block;
    position: relative;
}

.list .list_li>a {
    width: 100%;
    height: 4.5rem;
    display: inline-block;
}

.list .list_li>a>img {
    width: 100%;
    height: 100%;
}

.list .list_li>p {
    font-size: 0.4rem;
    line-height: 0.6rem;
    margin-left: 0.3rem;
}

.list .list_li .play {
    background: url(../../../assets/img/sprite.png) no-repeat 0 0;
    background-size: 0.48rem 1.2rem;
    width: 0.48rem;
    height: 0.48rem;
    position: absolute;
    right: 0.2rem;
    bottom: 1.2rem;
}

.more {
    color: #626262;
    text-align: center;
    font-size: 14px;
    line-height: 1.1rem;
    display: block;
}

.swiper-container .swiper-wrapper .swiper-pagination-bullet-active {
    background: #fff !important;
}


/* 查看电脑版网页 */

footer {
    position: relative;
}

.lookfor {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #000000;
}

footer span {
    display: block;
    height: 0.5rem;
    width: 16%;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 0.8rem;
}

footer span>img {
    width: 100%;
    height: 100%;
}

footer>p {
    font-size: 12px;
    width: 100%;
    color: #626262;
    position: absolute;
    top: 1.7rem;
    text-align: center;
}