<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../../../assets/img/bg01.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../../assets/img/bg02.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../../assets/img/bg03.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../../assets/img/bg04.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="../../../assets/img/bbg05.jpg" alt="">
        </div>
    </div>

    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

</div>


<div class="music">电台</div>

<ul class="list">
    <li class="list_li">
        <a href="javascript:;"><img src="../../../assets/img/m01.jpg"></a>
        <div class="play"></div>
        <p>热歌</p>
    </li>

    <li class="list_li">
        <a href="javascript:;"><img src="../../../assets/img/m02.jpg"></a>
        <div class="play"></div>
        <p>热歌</p>
    </li>
</ul>

<div class="music">热门歌单</div>

<a href="javascript:;" class="more">去客户端发现更多好音乐>></a>

<footer>
    <a href="javascript:;" class="lookfor">查看电脑版网页</a>
    <span><img src="./assets/img/logo_footer.png"></span>
    <p>Copyright © 1998 - 2018 Tencent. All Rights Reserved.</p>
</footer>