a{
    text-decoration: none;
    font-size: 14px;
    color: #474747;
}
input{
    outline: none;
    border: none;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/* 内容 */
.main_main{
    width: 1140px;
    /* height: 3000px; */
    background: white;
    margin: 0 auto;
    margin-top: 30px;
    padding:26px 30px 0 30px;
    font-size: 14px;
}
.main_main .main_header{
    width: 1138px;
    height: 97px;
    border: 1px solid #e9e9e9;
    border-top: none;
    margin-bottom: 25px;
}
.main_main .main_header_li{
    float: left;
}
.main_header_li .header_a{
    width: 161px;
    height: 51px;
    display: block;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    font-size: 18px; 
    text-align: center;
    line-height: 51px;
    border-top:2px solid #e9e9e9;
}
.main_header_li .boldRed{
    color: #ff4400;
    border-top:2px solid #ff4400;
}
.main_header_li .rightBorderNone{
    border-right: none;
    width: 166px;
}
.main_main .radio_li{
    text-align: center;
    line-height:43px; 
    width: 102px;
    float: left;
    font-size: 14px;
    cursor: pointer;
}
.radio_li span{
    width: 9px;
    height: 9px;
    background: red;
    display: inline-block;   
}
.radio_li .radio_up{
    background: url(../images/up_down.png) no-repeat -1px 0px;
}
.radio_li .radio_down{
    background: url(../images/up_down.png) no-repeat -1px -9px;
}
.main_main .header_select{
    widows: 172px;
    height: 28px;
    float: right;
    margin-right: 14px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    outline: none;
    color: #474747;
}
.radio_li:hover label{
    color: #ff4400;
}
/* 商品列表 */
.goodsList .goodsList_li01{
    float: left;
    margin-right: 25px;
    width: 206px;
    position: relative;
    margin-bottom: 55px;
}
.goodsList .rightMargin_None{
    margin-right: 0;
}
.goodsList_li01 .goodsList_new{
    width: 95px;
    height: 67px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom:277px;
    display: none;

}
.goodsList_li01:hover .goodsList_new{
    display: block;
}
.goodsList_li01 .goodsList_img{
    width: 206px;
    height: 243px;
    border:1px solid #e9e9e9;
}
.goodsList_ul .goodsList_aText{
    font-size: 14px;
    margin-top: 18px;
    display: block;
}
.goodsList_p:hover .goodsList_aText{
    color: #ff4400;
}
.goodsList_li01 .pRed{
    color: #ff4400;
    font-weight: bold;
    line-height: 40px;
}
/* 页码 */
.pageCG_ul .pageCG_li{
    float: left;
    text-align: center;
    line-height: 46px;
    margin-bottom: 30px;
}
.pageCG_ul .li_marginLeft{
    margin-left: 326px;
}

.pageCG_li .pageCG_li_a{
    width: 46px;
    height: 46px;
    display: block;
    border:1px solid #ececec;
    text-align: center;
    line-height:46px; 
    font-weight: bold;
}
.pageCG_li .noneBorder_Left{
    border-left: none;
    background: #ff4400;
    color: white;
}
.pageCG_li .pageCG_borderNone{
    border: none;
}
.pageCG_li:hover .pageCG_li_aa{
    color: #ff4400;
}
.pageCG .page_p{
    float: left;
    line-height:46px;
}
.pageCG .pageCG_marginleft{
    margin-left: 25px;
}
.pageCG .page_text{
    width: 32px;
    height: 32px;
    border: 1px solid #ececec;
    float: left;
    margin-top: 5px;
    
}
.pageCG .page_button{
    width: 94px;
    height: 48px;
    background: #ff4401;
    float: left;
    margin-left: 22px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    
}