h1,h2,h3,h4,h5,h6,p,dl,dd{margin: 0; font-size: 12px;}
ul,ol{margin: 0; padding:0; list-style: none;}
a{text-decoration: none; color: #333;}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
i{
    font-style: normal;
}
.clearfix{*zoom:1;}
/* 问题分类 */
.body{
    width: 1200px;
    margin: 0 auto;
}  
.body .problem_left_all{
    margin-top: 30px;
    float: left;
}
.body .title{
    width: 265px;
    height: 40px;
    background: #ff4400;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    text-indent: 22px;
}
.body .problem_left_dl{
    width: 265px;
    height: 50px;
    border-bottom: 2px solid #f1f1f1;
    background: white;
    text-indent: 20px;
    line-height: 50px;
    font-size: 16px;
    position: relative;
}
.problem_left_dl .problem_i{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/arr1.gif) no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
}
.problem_left_dl:hover .problem_a{
    color: #ff4400;
}
.problem_left_dl:hover .problem_i{
    background: url(../images/arr3.gif) no-repeat;
}
/* 新浪积分的获取及使用 */
.body .problem_right_all{
    width: 852px;
    padding: 0 25px 20px;
    background: #fff;
    float: right;
    margin-top: 30px;
}
.problem_right_all .problem_right_top{
    padding-top: 4px;
    height: 48px;
    border-bottom: 2px solid #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;  
}
.problem_right_top .text_red{
    height: 48px;
    width: 160px;
    border-bottom: 2px solid #ff4400;
}
.problem_right_ul .problem_right_li{
    padding: 16px 0 16px 24px;
    border-bottom: 1px dashed #e5e5e5;
    width: 852px;
    float: left;
}
.problem_right_ul .redBox{
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    background: #ff4400;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}
.problem_right_li .text_p{
    font-size: 14px;
    color: #474747;
    display: inline-block;
    font-weight: normal;
}
.problem_right_li .text_pContent{
    font-size: 14px;
    color: #707070;
    font-weight: normal;
    line-height: 24px;
}
.problem_right_ul .li_bottomNone{
    border-bottom: none;
}
