<div class="content">
    <ul class="content_ul">
        <li class="content_ul_li">
            <a routerLink="/user/1" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n1.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1980.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·流行指数</h5>
                    <p>
                        1
                        <span class="songname">那一夜</span> - G.E.M. 邓紫棋
                    </p>
                    <p>
                        2
                        <span class="songname">梦不落雨林</span> - 张艺兴
                    </p>
                    <p>
                        3
                        <span class="songname">归去来兮</span> - 叶炫清
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/2" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n3.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·热歌</h5>
                    <p>
                        1
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        2
                        <span class="songname">耳朵</span> - 李荣浩
                    </p>
                    <p>
                        3
                        <span class="songname">光年之外</span> - G.E.M. 邓紫棋
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/3" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n4.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·中国好声音</h5>
                    <p>
                        1
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        2
                        <span class="songname">耳朵</span> - 李荣浩
                    </p>
                    <p>
                        3
                        <span class="songname">光年之外</span> - G.E.M. 邓紫棋
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/4" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n5.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1208.8万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·新歌</h5>
                    <p>
                        1
                        <span class="songname">为你我受冷风吹</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">魔鬼中的天使 (Live)</span>- 康树龙
                    </p>
                    <p>
                        3
                        <span class="songname">魔鬼中的天使 (醇享版)</span> - 康树龙
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/5" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n6.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.7万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·网络歌曲</h5>
                    <p>
                        1
                        <span class="songname">不在</span> - 韩安旭
                    </p>
                    <p>
                        2
                        <span class="songname">地铁等待</span> - 宋孟君
                    </p>
                    <p>
                        3
                        <span class="songname">可不可以</span> - 艾辰
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/6" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n7.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·内地</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/7" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n8.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·港台</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/8" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n9.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·欧美</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/9" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n10.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·韩国</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/10" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n11.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·影视金曲</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/11" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n12.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·日本</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/12" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n13.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·腾讯音乐人原创榜</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

        <li class="content_ul_li">
            <a routerLink="/user/13" class="roulink">
                <div class="con_left">
                    <img src="../../../assets/img/n14.jpg" alt="">
                    <div class="ear">
                        <span class="ear_img"></span>
                        <i>1970.0万</i>
                    </div>
                </div>
                <div class="con_right">
                    <h5>巅峰榜·K歌金曲</h5>
                    <p>
                        1
                        <span class="songname">耳朵</span> - 大壮
                    </p>
                    <p>
                        2
                        <span class="songname">没说什么</span> - 张杰
                    </p>
                    <p>
                        3
                        <span class="songname">贝贝</span> - 李荣浩
                    </p>
                    <i></i>
                </div>
            </a>
        </li>

    </ul>

    <footer>
        <a href="javascript:;">去客户端发现更多好音乐></a>
    </footer>
</div>