{extends file="layout/layout.html"}

{block name="title"}
	添加首页
{/block}

{block name="bigTitle"}
	添加首页
{/block}

{block name="body"}
	<form action="index.php?c=user&a=doadd" method="post">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Username:</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="username" name="username">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
	  </div>
	  <button type="submit" class="btn btn-info">Submit</button>
</form>

{/block}